/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*Estilos de fuente*/
html {
  font-family: "Quantico", sans-serif;
  font-size: 65.2%;
}

/*Estilos generales de textos*/
.titulo-principal {
  padding: 30px;
  display: inline-block;
  color: #9AE19D;
  background-color: #000000;
  font-family: "Quantico", sans-serif;
  font-weight: bold;
}

h1 {
  color: #0ea0a0;
  padding: 20px;
  font-size: 3rem;
  background-color: #000000;
}

h2 {
  font-family: "Quantico", sans-serif;
  font-size: 2rem;
  color: #087E8B;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  color: aliceblue;
}

p {
  text-transform: initial;
  font-size: 2rem;
  color: aquamarine;
}

/*Estilo de Background */
main {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(13,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-63.35 -1.1999999999999993) rotate(-4.949999999999999 1409 581) scale(0.9389)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-95 53) rotate(1.9000000000000004 800 450) scale(0.9988179999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(2.8999999999999986 -33) rotate(5 401 736) scale(0.9988179999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(318 6.800000000000001) rotate(-1.7000000000000002 150 345) scale(1.0023)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(-58 -146.5) rotate(-10.799999999999997 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-161.2 38.8) rotate(-1.8000000000000007 1400 132) scale(0.86)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/*estilos de header*/
header {
  background-color: #087E8B;
  border-bottom: 3px solid #9AE19D;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 1;
  height: 100%;
}
header nav ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
  padding: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: #9AE19D;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Quantico", sans-serif;
}
header nav ul li a:hover {
  color: #A3C4BC;
}
header img {
  width: 135px;
}

/*estilos del index*/
.main-index .articulo-principal {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "titulo titulo" "imagen info";
  gap: 30px;
}
.main-index .articulo-principal .info-titulo {
  grid-area: titulo;
}
.main-index .articulo-principal .info-imagen {
  grid-area: imagen;
  padding: 20px;
  align-items: center;
}
.main-index .articulo-principal .info-imagen img {
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  width: 100%;
  padding-left: 20px;
  object-fit: cover;
}
.main-index .articulo-principal .info-inicio {
  background-color: rgb(0, 0, 0);
  border-radius: 40%;
  box-shadow: -9px 19px 57px 17px rgba(46, 173, 152, 0.7);
  -webkit-box-shadow: -9px 19px 57px 17px rgba(46, 173, 152, 0.7);
  -moz-box-shadow: -9px 19px 57px 17px rgba(46, 173, 152, 0.7);
  grid-area: info;
  padding: 20px;
  align-self: center;
}
.main-index .articulo-principal .info-inicio p {
  text-align: justify;
  padding: 30px;
}
.main-index .goty {
  margin-top: 50px;
}
.main-index .selectores {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 2rem;
}
.main-index .selectores .card {
  width: 400px;
  height: 300px;
}
.main-index .selectores .card a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.main-index .selectores .card .card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Estilos de Nintendo*/
.mariood {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "videom titulom" "pmod pmod";
  align-items: center;
  row-gap: 15px;
}
.mariood .video-mariood {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: videom;
}
.mariood .video-mariood iframe {
  width: 600px;
  height: 450px;
}
.mariood .titulo-mariood {
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  text-align: center;
  grid-area: titulom;
}
.mariood .titulo-mariood p {
  text-transform: uppercase;
  background-color: #087E8B;
  border-radius: 30%;
}
.mariood .p-mariood {
  grid-area: pmod;
  padding: 20px 100px;
  background-color: #000000;
  text-align: justify;
  text-indent: 1em;
}

#art-ztotk {
  margin-top: 50px;
}

.ztotk {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "pimgz" "ppz" "spiz" "tpz" "tiz";
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.ztotk .p-img-ztotk {
  justify-self: center;
  padding-top: 20px;
  grid-area: pimgz;
}
.ztotk .p-img-ztotk img {
  width: 700px;
}
.ztotk .pp-ztotk {
  grid-area: ppz;
  justify-self: center;
  width: 700px;
}
.ztotk .pp-ztotk p {
  background-color: #000000;
  padding: 15px;
  text-align: justify;
}
.ztotk .spi-ztotk {
  display: flex;
  justify-self: center;
  grid-area: spiz;
  width: 900px;
}
.ztotk .spi-ztotk p {
  background-color: #000000;
  padding: 10px;
  text-align: justify;
}
.ztotk .spi-ztotk img {
  width: 500px;
}
.ztotk .tp-ztotk {
  grid-area: tpz;
  justify-self: center;
  width: 700px;
}
.ztotk .tp-ztotk p {
  background-color: #000000;
  text-align: justify;
}
.ztotk .ti-ztotk {
  grid-area: tiz;
  justify-self: center;
}
.ztotk .ti-ztotk img {
  width: 700px;
}

/*estilo del footer*/
footer {
  background-color: #333;
  text-align: center;
}
footer .footer-info p {
  font-style: italic;
  color: aqua;
  font-family: "Quantico", sans-serif;
}

@media screen and (max-width: 1023px) {
  /*mq tablet header*/
  header nav ul li a {
    font-size: 20px;
  }
  header img {
    width: 100px;
  }
  p {
    font-size: 1.5rem;
  }
  /*mq index*/
  .main-index .articulo-principal {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "titulo" "info" "imagen";
  }
  .main-index .articulo-principal .info-imagen img {
    align-items: center;
  }
  /* seccion mariood*/
  .mariood {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "videom" "titulom" "pmod";
  }
  .mariood .video-mariood iframe {
    width: 500px;
    height: 300px;
  }
  /*Secion Zelda TotK*/
  .ztotk .spi-ztotk {
    width: 700px;
    flex-direction: column;
  }
  .ztotk .spi-ztotk img {
    align-self: center;
  }
}
/*Media Queries Mobiles*/
@media screen and (max-width: 768px) {
  /*mq nav mobile*/
  header {
    flex-direction: column;
    position: relative;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li a {
    font-size: 15px;
  }
  header img {
    position: absolute;
    left: 0;
    top: 50px;
  }
  /*EStilos de index*/
  .main-index .titulo-principal {
    font-size: 2rem;
    padding: 20px;
    margin: 0;
  }
  .main-index .titulo-principal .info-inicio p {
    text-align: justify;
    font-size: 1rem;
  }
  /*MQ nintendo*/
  .mariood .video-mariood iframe {
    width: 320px;
    height: 210px;
  }
  .mariood .p-mariood {
    padding: 20px;
  }
  .mariood .p-mariood p {
    font-size: 1rem;
    text-align: justify;
  }
  .ztotk .p-img-ztotk img {
    padding-left: 180px;
    width: 70%;
    height: auto;
  }
  .ztotk .pp-ztotk p {
    width: 70%;
    padding-left: 180px;
    height: auto;
  }
  .ztotk .spi-ztotk p {
    width: 70%;
    padding-left: 180px;
  }
  .ztotk .spi-ztotk img {
    width: 320px;
    height: auto;
  }
  .ztotk .tp-ztotk p {
    width: 70%;
    height: auto;
    padding-left: 180px;
  }
  .ztotk .ti-ztotk img {
    width: 320px;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
