/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*Variables para */
/*Estilos de fuente*/
html {
  font-family: "Quantico", sans-serif;
  font-size: 65.2%;
}

/*Estilos generales de textos*/
.titulo-principal {
  padding: 30px;
  display: inline-block;
  color: #9ae19d;
  background-color: #000000;
  font-family: "Quantico", sans-serif;
  font-weight: bold;
}

h1 {
  font-family: "Quantico", sans-serif;
  font-weight: bold;
  color: #7fffd4;
  padding: 20px;
  font-size: 3rem;
  background-color: #000000;
  display: inline-block;
}

h2 {
  font-family: "Quantico", sans-serif;
  font-size: 2.2rem;
  color: #087E8B;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  color: aliceblue;
}

p {
  font-family: "Quantico", sans-serif;
  text-transform: initial;
  font-size: 2rem;
  color: #7fffd4;
}

strong {
  color: #9ae19d;
}

/*Estilo de Background */
main {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(13,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-63.35 -1.1999999999999993) rotate(-4.949999999999999 1409 581) scale(0.9389)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-95 53) rotate(1.9000000000000004 800 450) scale(0.9988179999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(2.8999999999999986 -33) rotate(5 401 736) scale(0.9988179999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(318 6.800000000000001) rotate(-1.7000000000000002 150 345) scale(1.0023)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(-58 -146.5) rotate(-10.799999999999997 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-161.2 38.8) rotate(-1.8000000000000007 1400 132) scale(0.86)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/*estilos de header*/
header {
  background-color: #087E8B;
  border-bottom: 3px solid #9ae19d;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 100%;
}
header #menu-btn {
  display: none;
}
header label {
  display: none;
}
header label:hover {
  cursor: pointer;
}
header nav ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
  padding: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: #9ae19d;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Quantico", sans-serif;
}
header nav ul li a:hover {
  color: #A3C4BC;
}
header img {
  width: 135px;
}

/*estilos del index*/
.main-index .articulo-principal {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "titulo titulo" "imagen info";
  gap: 30px;
  /*Cards para representar los G.O.T.Y*/
}
.main-index .articulo-principal .info-titulo {
  grid-area: titulo;
}
.main-index .articulo-principal .info-imagen {
  grid-area: imagen;
  padding: 20px;
  align-items: center;
}
.main-index .articulo-principal .info-imagen img {
  background-color: #000000;
  border-radius: 50px;
  width: 100%;
  padding-left: 20px;
  object-fit: cover;
}
.main-index .articulo-principal .info-inicio {
  background-color: #000000;
  border-radius: 40%;
  box-shadow: -9px 19px 57px 17px #087E8B;
  -webkit-box-shadow: -9px 19px 57px 17px #087E8B;
  -moz-box-shadow: -9px 19px 57px 17px #087E8B;
  padding: 20px;
  align-self: center;
}
.main-index .articulo-principal .info-inicio p {
  text-align: justify;
  padding: 30px;
  text-indent: 3em;
}
.main-index .goty {
  margin-top: 50px;
}
.main-index .selectores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 2rem;
  column-gap: 1rem;
  padding: 15px;
}
.main-index .selectores .card {
  width: 400px;
  height: 300px;
}
.main-index .selectores .card:hover {
  width: 420px;
  height: 320px;
}
.main-index .selectores .card a img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-index .selectores .card a img:hover {
  border: 2px groove #7fffd4;
}
.main-index .selectores .card .card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Estilos de Nintendo*/
.mariood {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "videom titulom" "pmod pmod";
  align-items: center;
  row-gap: 15px;
}
.mariood .video-mariood {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: videom;
}
.mariood .video-mariood iframe {
  padding: 25px;
  width: 600px;
  height: 450px;
}
.mariood .titulo-mariood {
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: titulom;
}
.mariood .titulo-mariood p {
  padding: 10px;
  text-transform: uppercase;
  background-color: #087E8B;
  border-radius: 30%;
}
.mariood .p-mariood {
  grid-area: pmod;
  width: 70vw;
  justify-self: center;
  background-color: #000000;
  text-align: justify;
  text-indent: 4em;
}

#art-ztotk {
  margin-top: 50px;
}

.ztotk {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "pimgz" "ppz" "spiz" "tpz" "tiz";
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.ztotk .p-img-ztotk {
  justify-self: center;
  padding-top: 20px;
  grid-area: pimgz;
}
.ztotk .p-img-ztotk img {
  width: 700px;
}
.ztotk .pp-ztotk {
  grid-area: ppz;
  justify-self: center;
  width: 700px;
}
.ztotk .pp-ztotk p {
  background-color: #000000;
  padding: 15px;
  text-align: justify;
  text-indent: 2em;
}
.ztotk .spi-ztotk {
  display: flex;
  justify-self: center;
  grid-area: spiz;
  width: 900px;
  gap: 30px;
}
.ztotk .spi-ztotk p {
  background-color: #000000;
  text-align: justify;
  text-indent: 2em;
}
.ztotk .spi-ztotk img {
  width: 500px;
}
.ztotk .tp-ztotk {
  grid-area: tpz;
  justify-self: center;
  width: 700px;
}
.ztotk .tp-ztotk p {
  background-color: #000000;
  text-align: justify;
  text-indent: 2em;
}
.ztotk .ti-ztotk {
  grid-area: tiz;
  justify-self: center;
}
.ztotk .ti-ztotk img {
  width: 700px;
  height: auto;
  margin-bottom: 30px;
}

/* Estilos de archivo xbox*/
/*seccion articulo de starfield*/
.starfield {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "video" "ps" "vs";
  row-gap: 20px;
}
.starfield .video-starfield {
  grid-area: video;
  justify-self: center;
  padding-top: 30px;
}
.starfield .video-starfield iframe {
  width: 40vw;
  height: 40vh;
}
.starfield .p-starfield {
  grid-area: ps;
  justify-self: center;
  width: 700px;
}
.starfield .p-starfield p {
  background-color: #000000;
  text-align: justify;
  text-indent: 3em;
}
.starfield .v-starfield {
  grid-area: vs;
  justify-self: center;
}
.starfield .v-starfield img {
  width: 560px;
  height: auto;
  margin-bottom: 25px;
}

.ffxvi {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "ppff" "imgff" "pgiff";
  row-gap: 20px;
  padding-top: 40px;
}
.ffxvi .pp-ffxvi {
  grid-area: ppff;
  justify-self: center;
}
.ffxvi .pp-ffxvi p {
  width: 75vw;
  background-color: #000000;
  text-align: justify;
  text-indent: 2em;
}
.ffxvi .img-ffxvi {
  grid-area: imgff;
  justify-self: center;
}
.ffxvi .img-ffxvi img {
  width: 70vh;
}
.ffxvi .pgif-ffxvi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: pgiff;
}
.ffxvi .pgif-ffxvi p {
  width: 75vh;
  background-color: #000000;
  text-align: justify;
  text-indent: 2em;
}
.ffxvi .pgif-ffxvi img {
  padding-top: 20px;
  width: 50vh;
  margin-bottom: 30px;
}

.bg-contacto {
  min-height: 80vh;
}
.bg-contacto form .container {
  padding-top: 50px;
}
.bg-contacto form .container .row .col-sm-6 .btn {
  background-color: #087E8B;
  color: #000000;
  border: none;
}
.bg-contacto form .container .row .col-sm-6 .btn:hover {
  border: 2px solid #9ae19d;
}

.pc-bg .container .row .col-sm-12 .p-steam {
  text-align: justify;
  text-indent: 2em;
  background-color: #000000;
}

/*estilo del footer*/
footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  text-align: center;
  row-gap: 10px;
}
footer .footer-info p {
  font-style: italic;
  color: #7fffd4;
  font-family: "Quantico", sans-serif;
}
footer .rrss {
  display: flex;
}
footer .rrss a img {
  width: 50px;
}

@media screen and (max-width: 1023px) {
  /*mq tablet header*/
  header nav ul li a {
    font-size: 20px;
  }
  header img {
    width: 100px;
  }
  p {
    font-size: 1.5rem;
  }
  /*mq index*/
  .main-index .articulo-principal {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "titulo" "info" "imagen";
  }
  .main-index .articulo-principal .info-imagen img {
    align-items: center;
  }
  /* seccion mariood*/
  .mariood {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "videom" "titulom" "pmod";
  }
  .mariood .video-mariood iframe {
    width: 450px;
    height: 30vw;
  }
  .mariood .titulo-mariood {
    margin: 0%;
  }
  .mariood .titulo-mariood p {
    width: 40vh;
    padding: 15px;
  }
  /*Secion Zelda TotK*/
  .ztotk .spi-ztotk {
    width: 700px;
    flex-direction: column;
  }
  .ztotk .spi-ztotk img {
    align-self: center;
  }
  /*Seccion Starfield*/
  .starfield .video-starfield iframe {
    width: 450px;
    height: 30vw;
  }
}
/*Media Queries Mobiles*/
@media screen and (max-width: 768px) {
  /*mq nav mobile*/
  header {
    flex-direction: column;
    height: 100px;
  }
  header label {
    display: block;
  }
  header label .boton {
    display: block;
    position: relative;
    top: 25px;
    width: 50px;
  }
  header nav {
    display: none;
    flex-direction: column;
    max-height: 0;
    background-color: #087E8B;
    border-bottom: 3px solid #9ae19d;
    border-left: 3px solid #9ae19d;
    border-right: 3px solid #9ae19d;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav ul li a {
    font-size: 15px;
  }
  header input[type=checkbox]:checked ~ nav {
    display: block;
    max-height: 500px;
  }
  header img {
    position: absolute;
    left: 0;
  }
  /*EStilos de index*/
  .main-index .titulo-principal {
    font-size: 2rem;
    padding: 20px;
    margin: 0;
  }
  .main-index .titulo-principal .info-inicio p {
    text-align: justify;
    font-size: 1rem;
  }
  .main-index .selectores .card img {
    width: 35vh;
    padding: 20px;
  }
  /*MQ nintendo*/
  .mariood .video-mariood iframe {
    width: 60vw;
    height: 210px;
  }
  .mariood .titulo-mariood {
    justify-self: center;
    width: 30vh;
  }
  .mariood .p-mariood p {
    text-align: justify;
  }
  .ztotk .p-img-ztotk img {
    width: 60vw;
  }
  .ztotk .pp-ztotk {
    width: 60vw;
  }
  .ztotk .pp-ztotk p {
    padding: 0%;
    text-indent: 2em;
  }
  .ztotk .spi-ztotk {
    width: 60vw;
  }
  .ztotk .spi-ztotk p {
    padding: 0;
  }
  .ztotk .spi-ztotk img {
    padding-top: 10px;
    width: 50vw;
  }
  .ztotk .tp-ztotk {
    width: 60vw;
  }
  .ztotk .ti-ztotk img {
    width: 60vw;
  }
  /*Seccion starfield*/
  .starfield .video-starfield iframe {
    width: 60vw;
    height: 210px;
  }
  .starfield .p-starfield {
    width: 60vw;
  }
  .starfield .v-starfield img {
    width: 75vw;
  }
  /*Seccion Final Fantasy*/
  .ffxvi .pp-ffxvi p {
    width: 60vw;
    text-indent: 2em;
  }
  .ffxvi .img-ffxvi img {
    width: 60vw;
  }
  .ffxvi .pgif-ffxvi p {
    width: 60vw;
  }
  .ffxvi .pgif-ffxvi img {
    width: 60vw;
  }
}

/*# sourceMappingURL=main.css.map */
