.bg-contacto {
    min-height: 80vh;

    form {
        .container {
            padding-top: 50px;

            .row {
                .col-sm-6 {
                    .btn {
                        background-color: $color-principal;
                        color: $fondos-de-textos;
                        border: none;

                        &:hover {
                            border: 2px solid $color-nav-titulo;
                        }
                    }
                }
            }
        }


    }
}