.pc-bg {
    .container {
        .row {
            .col-sm-12 {
                .p-steam {
                    text-align: justify;
                    text-indent: 2em;
                    background-color: $fondos-de-textos;
                }
            }
        }
    }
}