.ffxvi{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "ppff"
    "imgff"
    "pgiff";
    row-gap: 20px;
    padding-top: 40px;
    .pp-ffxvi{
        grid-area: ppff;
        justify-self: center;
        p{
            width: 75vw;
            background-color: black;
            text-align: justify;
            text-indent: 2em;
        }
    }
    .img-ffxvi{
        grid-area: imgff;
        justify-self: center;
        img{
            width: 70vh;
        }
    }
    .pgif-ffxvi{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        grid-area: pgiff;
        p{
            width: 75vh;
            background-color: black;
            text-align: justify;
            text-indent: 2em;
        }
        img{
            padding-top: 20px;
            width: 50vh;
            margin-bottom: 20px;
        }
    }
}