// MQ para tablets
@media screen and (max-width: 1023px) {

    /*mq tablet header*/
    header {

        nav {
            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }

        img {
            width: 100px;
        }
    }

    p {
        font-size: 1.5rem;
    }

    /*mq index*/
    .main-index {
        .articulo-principal {
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
                "titulo"
                "info"
                "imagen";

            .info-imagen {
                img {
                    align-items: center;
                }
            }
        }
    }

    //Estilos de pagina de Nintendo
    /* seccion mariood*/
    .mariood {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "videom"
            "titulom"
            "pmod";

        .video-mariood {
            iframe {
                width: 450px;
                height: 30vw;
            }
        }
        .titulo-mariood{
            margin: 0%;
            p{
                width: 40vh;
            }
        }
    }
    /*Secion Zelda TotK*/
    .ztotk{
        .spi-ztotk{
            width: 700px;
            flex-direction: column;
            img{
                align-self: center;
            }
        }
    }

    //Estilos pagina de Xbox
    /*Seccion Starfield*/
    .starfield{
        .video-starfield{
            iframe{
                width: 450px;
                height: 30vw;
            }
        }
    }
}

/*Media Queries Mobiles*/
@media screen and (max-width:768px) {

    /*mq nav mobile*/
    header {
        flex-direction: column;
        position: relative;

        nav {
            ul {
                flex-direction: column;
                align-items: center;

                li {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 50px;
        }
    }

    /*EStilos de index*/
    .main-index {
        .titulo-principal {
            font-size: 2rem;
            padding: 20px;
            margin: 0;
            .info-inicio{
                p{
                    text-align: justify;
                    font-size: 1rem;
                }
            }
        }
        .selectores{
            .card{
                img{
                    width: 35vh;
                    padding:20px;
                } 

            }
        }
    }

    /*MQ nintendo*/
    //art mariood
    .mariood{
        .video-mariood{
            iframe{
                width: 60vw;
                height: 210px;
            }
        }
        .titulo-mariood{
            justify-self: center;
            width: 30vh;
        }
        .p-mariood{
            p{
                text-align: justify;
            }
        }
    }
    //seccion Zelda totk
    .ztotk{
        .p-img-ztotk{
            img{
                width: 60vw;
            }
        }
        .pp-ztotk{
            width: 60vw;
            p{
                padding: 0%;
                text-indent: 2em;
            }
        }
        .spi-ztotk{
            width: 60vw;
            p{
                padding: 0;
            }
            img{
                padding-top: 10px;
                width: 50vw;
            }
        }
        .tp-ztotk{
            width: 60vw;
        }
        .ti-ztotk{
            img{
                width: 60vw;
            }
        }

    }
    //Estilos de Archivo Xbox
    /*Seccion starfield*/
    .starfield{
        .video-starfield{
            iframe{
                width: 60vw;
                height: 210px;
            }
        }
        .p-starfield{
            width: 60vw;
        }
        .v-starfield{
            img{
                width: 75vw;
            }
        }
    }
    //Estilos de Archivo Playstations
    /*Seccion Final Fantasy*/
    .ffxvi{
        .pp-ffxvi{

            p{
                width: 60vw;
                text-indent: 2em;
            }

        }
        .img-ffxvi{
            img{
                width: 60vw;
            }
        }
        .pgif-ffxvi{
            p{
                width: 60vw;
            }
            img{
                width: 60vw;
            }
        }
    }
}