/*estilo del footer*/
footer{
    height: 20vh;
    @include flex(column, center, center);
    background-color: #333; 
    text-align: center;
    row-gap: 10px;
    .footer-info{
        p{
            font-style: italic;
            color:$colores-parrafos;
            font-family: 'Quantico', sans-serif;
        }
    }
    .rrss{
        display: flex;
        a{
            img{
                width: 50px;
            }
        }
    }
}
