/*Variables para */
//Colores Principales para la web
$color-principal: #087E8B;
$colores-parrafos: #7fffd4;
$color-nav-titulo:#9ae19d;
$fondos-de-textos: #000000;

//Estilo de texto
$Texto: 'Quantico', sans-serif;